{% extends "dayplanner/base.html" %}




{% block title %} Yelp Search {% endblock %}

{% block body %}

Hello {{ day.creator }}
<h1 class="title">You are editing {{ day.name }}</h1>
<section class="section is-medium">
  <h1 class="title">Locations</h1>
  <div class="container">
    <p>Please perform your location searches here to start populating your day.</p>
    <form action="/creation/edit/{{ day.id }}/searchpage?search=True" method ="post">{% csrf_token %}
      <div class="field">

        <br>
        <div class="control is-medium">
          <input type="text"
          placeholder="Coffee shops, sushi, dive bar..."
          name="user_input_term"
          onsubmit="return validateForm()"
          required
          class = "input is-normal is-hovered">
        </div>
        <br>

        <div class="control is-medium">
          <input type="text"
          placeholder="Near this location..."
          name="user_input_location"
          class = "input is-normal is-hovered", id="user_input_location"
          onsubmit="return validateForm()"
          required>
        </div>
        <br>

        <button type="submit"
        class="button is-success">
        Search
        </button>
{##}
{#        <button type="submit"#}
{#        class="button is-success">#}
{#        Search Near Me#}
{#        </button>#}
      </div>

    </form>
  </div>

  <br><br>
  <button id = "find-me">Show my location</button><br/>

  <p id = "status"></p>
  <a id = "map-link" target="_blank"></a>

{% if search_results %}
  {% include 'creation/_search_results.html' with data=search_results day=day %}
{% endif %}
<br>
{% if day %}
    {% include 'creation/dayVenueList.html' with day=day %}
{% endif %}


</section>

<script>


  function validateForm() {
  var x = document.forms["myForm"]["fname"].value;
  if (x == "") {
    alert("Name must be filled out");
    return false;
  }
  }

  function geoFindMe() {
    const status = document.querySelector('#status');
    const mapLink = document.querySelector('#map-link');

    mapLink.href = '';
    mapLink.textContent = '';

    function success(position) {
      const latitude  = position.coords.latitude;
      const longitude = position.coords.longitude;

      status.textContent = '';
      mapLink.href = `https://www.openstreetmap.org/#map=18/${latitude}/${longitude}`;
      mapLink.textContent = `Latitude: ${latitude} °, Longitude: ${longitude} °`;
      document.getElementById("user_input_location").value = `Latitude: ${latitude} Longitude: ${longitude}`;
    }

    function error() {
      status.textContent = 'Unable to retrieve your location';
    }

    if(!navigator.geolocation) {
      status.textContent = 'Geolocation is not supported by your browser';
    } else {
      status.textContent = 'Locating…';
      navigator.geolocation.getCurrentPosition(success, error);
    }
    }


    document.querySelector('#find-me').addEventListener('click', geoFindMe);


</script>

{% endblock %}

</body>
</html>