<form action="" method ="post">{% csrf_token %}
        <div>
          <input type="text"
          placeholder="Name your Day"
          name="day_name"
          required>
        </div>
        <br>

        <button type="submit">
            New Day
        </button>
    </form>

Welcome {{ username }}

<table>
        <tr>
        <th>Pk</th>
        <th>Name</th>
            <th>Creator</th>
        </tr>
        {% for day in userDayList %}
        <tr>
            <td>
                {{day.id}}
            </td>
            <td>
                {{day.name}}
            </td>
            <td>
                {{day.creator}}
            </td>
            <td>
                <a href="/creation/editday?day_id={{ day.id }}"> Edit</a>
                <a href="/creation/delete_day?day_id={{ day.id }}"> Delete</a>


        </tr>
        {% endfor %}
    </table>