{% extends "dayplanner/base.html" %}

{% block title %} Day List {% endblock %}

{% block body %}

<section class="hero is-primary is-fullheight">
    <div class="hero-head">
        {% include 'dayplanner/_navbar.html' %}
    </div>

    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5">
                    <div class="box">

                        <label class="label is-medium has-text-centered">
                            Added Catorgories
                        </label>

                        <table class="table">
                            <tr class="has-text-centered">
                                <th>Category</th>
                                <th>Remove</th>
                            </tr>
                            {% for daycat in curr_categories %}
                            <tr class="has-text-centered">
                                <td>
                                    {{daycat.cat}}
                                </td>
                                <td>
                                    <a href="/creation/delete_day?day_id={{ day.id }}" class="button is-danger">
                                        Remove</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>

                <div class="column is-5">
                    <div class="box">
                        <label class="label is-medium has-text-centered">
                            New Catorgories
                        </label>

                        <table class="table">
                            <tr class="has-text-centered">
                                <th>Category</th>
                                <th>Add</th>
                            </tr>
                            {% for daycat in all_categories %}
                            <tr class="has-text-centered">
                                <td>
                                    {{daycat.cat}}
                                </td>
                                <td>
                                    <a href="/creation/{{ day.id }}/edit/categories/add/{{daycat.id}}"
                                        class="button is-primary"> Add</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}