{% extends "dayplanner/base.html" %}

{% load static %}

{%block links%}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'map.css' %}">
{% endblock %}

{% block title %} Day Venue List {% endblock %}

{% block body %}


<section class="hero is-primary is-fullheight">
    <div class="hero-head">
        {% include 'dayplanner/_navbar.html' %}
    </div>
    
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">

          <div class="column is-4 is-centered">
                <div class="box has-text-centered">

                    
                    <label class="label is-medium has-text-centered">
                        {{day.name}}
                        <!-- <br>
                        by {{ day.creator.username }} -->
                    </label>

                    {% if day %}
                        {% include 'creation/dayVenueList.html' with day=day %}
                    {% endif %}

                    {{ coordinates|json_script:"coordinates" }}
                    
                    <a href="/creation/edit/{{day.id}}/searchpage" class="button is-primary is-centered">
                        Add a Venue
                    </a>
                
                </div>
          </div>

          <div class="column is-6">
                <div class="box">
                    <figure class="image is-128by128">
                        <div id="map" style="height: 384px; width:100%"></div>
                    </figure>
                    
                </div>
          </div>

        </div>

    </div>

</section>

<script src="{% static 'map.js' %}"></script>

{% endblock %}