{% extends "dayplanner/base.html" %}
{% load static %}
{%block head%}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'map.css' %}">
    <script src="{% static 'map.js' %}"></script>
{% endblock %}
{% block title %} Day Venue List {% endblock %}
<body>
{% block body %}
    {{ coordinates|json_script:"coordinates" }}

    <p>Day Name: {{day.name}}</p>
    <p> Author: {{ day.creator.username }}</p>
    <div>
        <button style = "background-color: white" type = "button">
            <a href="/creation/edit/{{day.id}}/searchpage">
                Add a Venue
            </a>
        </button>
    </div>

{% if day %}
    {% include 'creation/dayVenueList.html' with day=day %}
{% endif %}

    <div id="map">
    </div>
{% endblock %}


</body>
</html>