{% extends "dayplanner/base.html" %}

{%block head%}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'map.css' %}">
    {% load static %}
    <script src="{% static 'map.js' %}"></script>
{% endblock %}

{% block title %} Yelp Search {% endblock %}

{% block body %}

<section class="hero is-primary is-fullheight">
  <div class="hero-head">
    {% include 'dayplanner/_navbar.html' %}
  </div>

  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-4">
          <div class="box has-text-centered">
            <div class="container">
              <label class="label is-medium">Locations</label>
              <p>Please perform your location searches here to start populating your day.</p>
              <form action="/creation/{{ day.id }}/edit/searchpage?search=True" method="post">{% csrf_token %}
                <div class="field">

                  <br>
                  <div class="control is-medium">
                    <input type="text" placeholder="Coffee shops, sushi, dive bar..." name="user_input_term"
                      onsubmit="return validateForm()" required class="input is-normal is-hovered">
                  </div>
                  <br>

                  <div class="control is-medium">
                    <input type="text" placeholder="Near this location..." name="user_input_location"
                      class="input is-normal is-hovered" , id="user_input_location" onsubmit="return validateForm()"
                      required>
                  </div>
                  <br>
                    {% if error %}
                    <article class="message is-danger">
                        <div class="message-body">
                            {{ error }}
                        </div>
                    </article>
                    {% endif %}

                  <button type="submit" class="button is-success has-text-centered">
                    Search
                  </button>
                  <br>
                  <br>
                  {# <button type="submit" #} {# class="button is-success">#}
                    {# Search Near Me#}
                    {# </button>#}
                  <button id="find-me" class="button is-warning has-text-centered">
                    Search Near Me
                  </button>
                </div>
              </form>
            </div>
            <br>
            <p id="status"></p>
            <a id="map-link" target="_blank"></a>
          </div>
        </div>
        <div class="column is-6">
          <div class="box has-text-centered">
            <label class="label is-medium">Search Result</label>
              {% if search_results %}
                {% include 'creation/_search_results.html' with data=search_results day=day %}
              {% endif %}
          </div>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column is-10">
          <div class="box has-text-centered">
            {{ coordinates|json_script:"coordinates" }}
            <div class="container">
              <figure class="image is-128by128">
                <div id="map" style="height: 384px; width:100%"></div>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>


<script>


  function validateForm() {
    var x = document.forms["myForm"]["fname"].value;
    if (x == "") {
      alert("Name must be filled out");
      return false;
    }
  }

  function geoFindMe() {
    const status = document.querySelector('#status');
    const mapLink = document.querySelector('#map-link');

    mapLink.href = '';
    mapLink.textContent = '';

    function success(position) {
      const latitude = position.coords.latitude;
      const longitude = position.coords.longitude;

      status.textContent = '';
      mapLink.href = `https://www.openstreetmap.org/#map=18/${latitude}/${longitude}`;
      mapLink.textContent = `Latitude: ${latitude} °, Longitude: ${longitude} °`;
      document.getElementById("user_input_location").value = `Latitude: ${latitude} Longitude: ${longitude}`;
    }

    function error() {
      status.textContent = 'Unable to retrieve your location';
    }

    if (!navigator.geolocation) {
      status.textContent = 'Geolocation is not supported by your browser';
    } else {
      status.textContent = 'Locating…';
      navigator.geolocation.getCurrentPosition(success, error);
    }
  }


  document.querySelector('#find-me').addEventListener('click', geoFindMe);


</script>

{% endblock %}