{% extends "dayplanner/base.html" %}
{% block title %} Login {% endblock %}

{% block body %}

<section class="hero is-primary is-fullheight">
    <div class="hero-head">
        {% include 'dayplanner/_navbar.html' %}
    </div>
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-4-desktop is-3-widescreen">
            <p class="title is-size-1 has-text-centered">
                Login
            </p>
            <p>Please fill out this form to access your account.</p><br>

              {% if error %}
                  {% include 'dayplanner/_error_message.html' %}
              {% endif %}

              {% if message %}
                  {% include 'dayplanner/_message.html' %}
              {% endif %}
            <form action="/authentication/login" method ="post" class="box">{% csrf_token %}
              <div class="field">
                <label for="email" class="label">Username</label>
                <div class="control">
                  <input type="text" placeholder="Enter username..." class="input" name="username" required>
                </div>
              </div>

              <div class="field">
                <label for="" class="label">Password</label>
                <div class="control">
                  <input type="password" placeholder="Enter password..." class="input" name="password" required>
                </div>
              </div>

              <div class="field">
                <label for="" class="checkbox">
                  <input type="checkbox">
                 Remember me
                </label>
              </div>

              <div class="field has-text-centered">
                <button type="submit" class="button is-success">Login</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}