{% extends "dayplanner/base.html" %}
{% block title %} Login {% endblock %}

{% block body %}

<section class="hero is-primary is-fullheight">
    <div class="hero-head">
    </div>

    <div class="hero-body">
    <div class="container has-text-centered">
        <p class="title is-size-1">
            Login
        </p>
        <p class="subtitle is-size-4">
            Continue to access your days
        </p>

        <form action="/authentication/login" method ="post">{% csrf_token %}
                <p>Please fill out this form to access your account.</p><br>
                <label for="email"><b>UserName</b></label><br>
                <input type="text" placeholder="Enter Email" name="username" required><br><br>
                <label for="psw"><b>Password</b></label><br>
                <input type="password" placeholder="Enter Password" name="password" required><br><br>
                <button type="submit" class="button is-warning">Login</button>
        </form>
    </div>
    </div>

    <div class="hero-foot has-text-left">
    </div>
</section>
{% endblock %}