{% extends "dayplanner/base.html" %}
{% block title %} Login {% endblock %}

{% block body %}
<form action="/authentication/login" method ="post">
    <h1>Login</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>
        <label for="email"><b>UserName</b></label>
        <input type="text" placeholder="Enter Email" name="username" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
    <br>
    <button type="submit" class="signupbtn">Login</button>
</form>
{% endblock %}