{% extends "dayplanner/base.html" %}
{% block title %} Sign Up {% endblock %}

{% block body %}
<form action="/authentication/signup" method ="post">
    <h1>Sign Up</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>
        <label for="email"><b>UserName</b></label>
        <input type="text" placeholder="Enter Email" name="username" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password1" required>

        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="password2" required>
    <br>
    <button type="submit" class="signupbtn">Sign Up</button>
</form>
{% endblock %}