{% extends "dayplanner/base.html" %}
{% block title %} Login {% endblock %}

{% block body %}

<section class="hero is-primary is-fullheight">
    <div class="hero-head">
    </div>

    <div class="hero-body">
    <div class="container has-text-centered">
        <p class="title is-size-1">
            User Profile
        </p>
        {% if page_user.is_private %}
        <p class="text-muted mb-0" style="font-size: 12px">It is a Private Page</p>
        {% else %}
        <p class="text-muted mb-0" style="font-size: 12px">Username:</p>
        <p>{{ page_user.user}}</p>
        <p class="text-muted mb-0" style="font-size: 12px">Email:</p>
        <p>{{ user.email}}</p>
        <p class="text-muted mb-0" style="font-size: 12px">Bio:</p>
        <p>{{ page_user.bio }}</p>
        {% endif %}
    </div>
    </div>

    <div class="hero-foot has-text-left">
    </div>
</section>
{% endblock %}