{% extends "dayplanner/base.html" %}

{% block title %} Day List {% endblock %}

{% block body %}

<section class="hero is-primary is-fullheight">
    <div class="hero-head">
        {% include 'dayplanner/_navbar.html' %}
    </div>

    <div class="hero-body">
        <div class="container">
            {% if cats %}
                {% include 'explore/cat_panel.html' with cats=cats %}
            {% endif %}

            {% if error %}
                {% include 'dayplanner/_error_message.html' %}
            {% endif %}

            {% if message %}
                {% include 'dayplanner/_message.html' %}
            {% endif %}

        <div class="box has-background-light">
        <div class="columns is-multiline">
        {% for day in days %}
            <div class="column is-one-third">
                <div class="box">
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                 <a href="/explore/{{ day.day.id }}">
                                    <img src="{{day.day.dayvenue_set.first.venue.yelp__image_url}}">
                                </a>
                            </p>
                        </figure>

                        <div class="media-content">
                            <a href="/explore/{{ day.day.id }}">
                                <strong>{{day.day.name}}</strong>
                            </a>
                            <br>
                            <a href="/profilepage/{{ day.day.creator.pk }}">
                                <small>{{day.day.creator}}</small>
                            </a>
                            <br>
                            {% for daycat in day.day.daycategory_set.all|slice:"0:3" %}
                                <span class="button is-static">#{{daycat.cat}}</span>
                            {% endfor %}
                        </div>
                        <br>
                        {% if day.is_fav %}
                            <a href="/explore/unfavorite_day/{{ day.day.pk }}?last={{ request.path }}" class="has-text-right">
                                <i class="fas fa-heart"></i>
                            </a>
                        {% else %}
                            <a href="/explore/favorite_day/{{ day.day.pk }}?last={{ request.path }}" class="has-text-right">
                                <i class="far fa-heart"></i>
                            </a>
                        {% endif %}

                    </article>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
{% endblock %}