<nav class="navbar">
    <div class="container">
    <div class="navbar-brand">
        <a href="/" class="navbar-item is-size-3"> <!-- PLACEHOLDER FOR BUTTON TO DAYPLANNER ABOUT PAGE -->
            DAYPLANNER
        </a>
        <span class="navbar-burger" data-target="navbarMenuHeroA">
        <span></span>
        <span></span>
        <span></span>
        </span>
    </div>
    <div id="navbarMenuHeroA" class="navbar-menu">
        <div class="navbar-end">
        <a href="/creation" class="navbar-item"> 
            Create
        </a>
        <a href="/explore" class="navbar-item"> 
            Explore
        </a>
        <a href="/about" class="navbar-item"> 
            About
        </a>
        {% if user.is_authenticated %}
        <span class="navbar-item">
            <button class="button is-warning is-dark has-text-centered">
                <a href="{% url 'show_profile_page' user.id %}">Profile</a>
            </button>
        </span>
        <span class="navbar-item">
            <button class="button is-warning is-dark has-text-centered">
                <a href="/authentication/logout">Logout</a>
            </button>
        </span>
        {% else %}

        <span class="navbar-item">
            <button class="button is-warning is-dark has-text-centered">
                <a href="/authentication/login">Login</a>
            </button>
        </span>
        <span class="navbar-item">
            <button class="button is-warning is-dark has-text-centered">
                <a href="/authentication/signup">Register</a>
            </button>
        </span>

        {% endif %}
        </div>
    </div>
    </div>
</nav>

<script>
document.querySelectorAll('.navbar-burger').forEach(el => {
    el.addEventListener('click', () => {
        const target = document.getElementById(el.dataset.target);
        el.classList.toggle('is-active');
        target.classList.toggle('is-active');
    });
})
</script>