{% extends "dayplanner/base.html" %}

{% block title %} User Profile {% endblock %}

{% block body %}

<section class="hero is-primary is-fullheight">
    <div class="hero-head">
        {% include 'dayplanner/_navbar.html' %}
        </div>

            <div class="hero-body">
              <div class="container">
                <div class="columns is-centered">

                    <div class="column">

                        <div class="box">
                            <div class="field">
                                {% if page_user.is_private %}

                                <label class="label">This is a Private Page</p>

                                {% else %}

                                <br>

                                <div class="columns is-centered">
                                  <figure class="image is-128x128">
                                    <img src="https://www.seekpng.com/png/full/41-410093_circled-user-icon-user-profile-icon-png.png">
                                  </figure>
                                </div>

                                <br>

                                <label class="label is-medium">Username:</label>
                                <label class="label has-text-weight-normal">{{ page_user.user}}</label>

                                <br>


                                <label class="label is-medium">Email:</label>
                                <label class="label">{{ page_user.user.email}}</label>

                                <br>


                                <label class="label is-medium">Neighborhood:</label>
                                <label class="label"></label>

                                <br>


                                <label class="label is-medium">Bio:</label>
                                <label class="label">{{ page_user.bio}}</label>
                                {% endif %}
                            </div>
                        </div>

                    </div>

                    <div class="column">
                      <div class="box">
                        <table class="table">
                            <tr class="has-text-centered">
                                <th>Days Created</th>
                            </tr>
                            {% for day in userDayList %}
                            <tr class="has-text-centered">
                                <td>
                                  <a href="/creation/edit/{{ day.id }}" class="button is-primary is-fullwidth is-light is-outlined">{{day.name}}</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                      </div>
                    </div>

                    <div class="column">

                        <div class="box">
                            <div class="field">
                              <label for="" class="label">Days Reviewed Recently</label>
                              <br>
                              <div class="control">
                                <input placeholder="Day 1" class="input is-primary" disabled>
                              </div>
                              <br>
                              <div class="control">
                                <input placeholder="Day 2" class="input is-primary" disabled>
                              </div>
                              <br>
                              <div class="control">
                                <input placeholder="Day 3" class="input is-primary" disabled>
                              </div>
                              <br>
                              <div class="control">
                                <input placeholder="Day 4" class="input is-primary" disabled>
                              </div>
                              <br>
                              <div class="control">
                                <input placeholder="Day 5" class="input is-primary" disabled>
                              </div>
                              <br>
                              <div class="control">
                                <input placeholder="Day 6" class="input is-primary" disabled>
                              </div>
                              <br>
                            </div>
                        </div>

                    </div>

                    <div class="column">

                        <div class="box">
                            <div class="field">
                              <label for="" class="label">Days Completed Recently</label>
                              <br>
                              <div class="control">
                                <input placeholder="Day 1" class="input is-primary" disabled>
                              </div>
                              <br>
                              <div class="control">
                                <input placeholder="Day 2" class="input is-primary" disabled>
                              </div>
                              <br>
                              <div class="control">
                                <input placeholder="Day 3" class="input is-primary" disabled>
                              </div>
                              <br>
                              <div class="control">
                                <input placeholder="Day 4" class="input is-primary" disabled>
                              </div>
                              <br>
                        </div>
                      </div>

                    </div>

                </div>


    <!-- <div class="container has-text-centered">
    </div> -->

    <div class="hero-foot has-text-left">
    </div>
    
</section>
{% endblock %}