<div>
    <p>Day Name: {{day.name}}</p>

    <table>
        <tr>
        <th>ID</th>
        <th>Yelp ID</th> 
        <th>Name</th>
        <th>Image</th>
        </tr>
        {% for dv in day.dayvenue_set.all %}
        <tr>
            <td>
                {{dv.venue.id}}
            </td>
            <td>
                {{dv.venue.yelp_id}}
            </td>
            <td>
                {{dv.venue.yelp__name}}
            </td>
            <td>
                <img src="{{dv.venue.yelp__image_url}}" height="50">
            </td>
        </tr>
        {% endfor %}
    </table>
</div>